{{> header title='Welcome email'}}
{{> body_start}}
    {{> content_start title='Did you forgot your password?'}}
        {{salutation}} {{user.firstname}},
        We got the word that you forgot your password. No worries, these things happen.
        To reset your password for the account with the email {{user.email}} follow this link:
    {{>	content_end}}

    {{> button url='#' text='choose a new password'}}

    {{> content_start}}
        <h4>Additional help:</h4><br>
        This link will lead you to a page where you can set your password. It expires after one day and nothing will happen if it's not used.
        If you did not request a password change, you may ignore this message and your password will remain unchanged.
        <br/><br/>
        {{goodbye}}<br/>
        {{signature}}
    {{>	content_end}}

{{> body_end}}