{{> header_start}}
    {{> title_start}}
        Shout reply from {{friend.firstname}}
    {{> title_end}}
{{> header_end}}
{{> body_start}}

    <!-- USER BLOCK -->
    {{> user_start}}
        {{> user_avatar_start}}
            {{> image url='img/avatar_user1.jpg' alt='user avatar' width='60'}}
        {{> user_avatar_end}}
        {{> user_title_start}}
            <a href="{{link.shoutbox}}">{{friend.firstname}} replied!</a>
        {{> user_title_end}}
        {{> user_content_start datetime='Thursday 02 June, 2016 - 11:44'}}
            {{friend.firstname}} replied to one of your shout!
            To view and reply to this message please visit <a href="{{link.shoutbox}}">your profile page</a>.
        {{> user_content_end}}
    {{> user_end}}

    {{> button url=link.my_profile text='View and reply'}}

{{> body_end}}
